catboost==1.2.5
lightgbm==4.1.0
matplotlib==3.7.1
matplotlib-inline==0.1.7
matplotlib-venn==0.11.10
pandas==2.0.3
pandas-datareader==0.10.0
pandas-gbq==0.19.2
pandas-stubs==2.0.3.230814
pandocfilters==1.5.1
phik==0.12.4
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.11.4
seaborn==0.13.1
shap==0.45.0
sklearn-pandas==2.2.0